<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="jquery.fittext.js"></script>
        <script src='elios_entry.js'></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link href='elios_entry.css' rel='stylesheet'>
    </head>
    <body>
    <!-- Top Tray -->
    <div class='e-bar' onclick='location.href="main.html"'>
        <div id='welcome-text'>Return to Home</div>
    </div>
    <!-- Middle Interactive Section -->
    <div class='e-form-previous' onclick='scroll_last()'>  
    </div>
    <div class='e-form-container'>
        <div class='e-form'>
            <div class='e-form-question'>
                Is Jesus real?
            </div>
            <div class='e-form-response'>
                <div class='e-form-likhert-scale'>
                    <table>
                        <tr>
                            <td><label><input type='radio' name='inp1' class='e-form-radio'><i class='material-icons'></i></label></td>
                            <td><label><input type='radio' name='inp1' class='e-form-radio'><i class='material-icons'></i></label></td>
                            <td><label><input type='radio' name='inp1' class='e-form-radio'><i class='material-icons'></i></label></td>
                            <td><label><input type='radio' name='inp1' class='e-form-radio'><i class='material-icons'></i></label></td>
                            <td><label><input type='radio' name='inp1' class='e-form-radio'><i class='material-icons'></i></label></td>
                        </tr>
                        <tr>
                            <td><i class='material-icons e-form-radio-label'>sentiment_very_dissatisfied</i></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><i class='material-icons e-form-radio-label'>sentiment_very_satisfied</i></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class='e-form'>
            <div class='e-form-question'>
                Is Faith a scam?
            </div>
            <div class='e-form-response'>
                
            </div>
        </div>
        <div class='e-form'>
            <div class='e-form-question'>
                How do you feel?
            </div>
            <div class='e-form-response'>

            </div>
        </div>
        <div class='e-form'>
            <div class='e-form-question'>
                Why do you feel that way?
            </div>
            <div class='e-form-response'>

            </div>
        </div>
    </div>
    <div class='e-form-flow-bttn' onclick='scroll_next()'>Skip</div>
    </body>
</html>