<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="jquery.fittext.js"></script>
        <script src='elios.js'></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link href='elios.css' rel='stylesheet'>
    </head>
    <body>
    <!-- Top Tray -->
    <div class='e-bar e-top-bar'>
        <div id='welcome-text'>Welcome, Eli</div>
    </div>
    <!-- Middle Scroll Section -->
    <div class='e-scroll-container'>
        <div class='e-scroller'>
            <div class='e-scroll-pane'>
                <img src='https://timedotcom.files.wordpress.com/2019/03/kitten-report.jpg?w=600&quality=85'>
            </div>
            <div class='e-scroll-pane'>
                <img src='https://images.unsplash.com/photo-1529778873920-4da4926a72c2?ixlib=rb-1.2.1&w=1000&q=80'>
            </div>
        </div>
        <div class='e-scroll-status'>
            <i class='material-icons e-scroll-icon'>brightness_1</i>
            <i class='material-icons-outlined e-scroll-icon'>brightness_1</i>
            <!-- <i class='material-icons-outlined e-scroll-icon'>brightness_1</i>
            <i class='material-icons-outlined e-scroll-icon'>brightness_1</i> -->
        </div>
    </div>
    <!-- Bottom Tray -->
    <div class='e-tray e-bar'>
        <div class='e-tray-bttn'>
            <i class='material-icons-outlined e-tray-icon'>calendar_today</i>
            <div class='e-tray-caption'>Plan</div>
        </div>
        <div class='e-tray-bttn' onclick='location.href = "entry.html"'>
            <i class='material-icons-outlined e-tray-icon'>add_box</i>
            <div class='e-tray-caption'>Track</div>
        </div>
        <div class='e-tray-bttn'>
            <i class='material-icons e-tray-icon'>local_bar</i>
            <div class='e-tray-caption'>Alcohol</div>
        </div>
    </div>
    </body>
</html>